body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.map-container {
    position: relative;
    height: 400px;
    width: 100%;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}